body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: rgb(226, 162, 35);
}
section {
    text-align: center;
}

.image-link-container {
    display: inline-block;
    vertical-align: top; 
    margin-right: 50px; 
}

.image-container img {
    width: 150px; 
    height: auto; 
    border-radius: 10px; 
    border: 3px solid #2b1286; 
    padding: 10px; 
}
.vertical-list {
    display: inline-block;
    padding: 0;
    list-style-type: none;
}

.horizontal-list li {
    display: inline-block;
    margin: 0 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 162, 35);
}
section {
    text-align: center;
}

 
